<!-- views/partials/header.ejs -->

<title>TinyApp</title>
<% if (typeof(user_id) === 'undefined') { %>
  <a href='/login'>Sign in Now!</a>
<% } else { %>

  <p>User logged in now: <%= user_email %></p>
  <form method='POST' action='/logout' name='<%= user_id %>'>
  <button>Sign out!</button>
  </form>
  <% } %>
<br>



