<!-- views/partials/header.ejs -->

<title>TinyApp</title>
<% if (typeof(user_id) === 'undefined') { %>
  <form class='form-inline' action='/login' method='POST'>
   <label for='newURL'>Enter your e-mail:</label>&nbsp; &nbsp;
    <input type='email' name='user_email'>&nbsp; &nbsp;
    <label for='newURL'>Enter a password:  </label>&nbsp; &nbsp;
    <input type='password' name='password'>&nbsp; &nbsp;
    <button type='submit' class='btn btn-primary'>Sign in!
    </button>
  </form>
<% } else { %>

  <p>User logged in now: <%= user_email %></p>
  <form method='POST' action='/logout' name='<%= user_id %>'>
  <button>Sign out!</button>
  </form>
  <% } %>
<br>



