<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

  <!-- Bootstrap CSS -->
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css' integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS' crossorigin='anonymous'>
  <title>TinyApp</title>
</head>
<body style='font-size:20px; padding:50px;'>
    <!-- Add EJS code here -->

  <h1>TinyApp!</h1>

  <header>
    <% include ./partials/_header %>
  </header>

    <h2>Registration!</h2>

    <form class='form-inline' action='/register' method='POST'>
     <label for='newURL'>Enter your e-mail:</label>&nbsp; &nbsp;
      <input type='email' name='email'>&nbsp; &nbsp;
      <label for='newURL'>Enter a password:  </label>&nbsp; &nbsp;
      <input type='password' name='password'>&nbsp; &nbsp;
      <button type='submit' class='btn btn-primary'>Submit</button>
    </form>

</body>
</html>
